* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#root {
  height: 100vh !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--first-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}